<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvvmApp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".ui.mainpage.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.detailpage.DetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="fullSensor"/>

        <service
            android:name="com.example.mvvmApp.data.services.TestAppServices"
            android:exported="true" />

        <provider
            android:name="com.example.mvvmApp.data.provider.AppContentProvider"
            android:authorities="a.b.c.provider"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name="com.example.mvvmApp.data.notification.NotificationReceiver"
            android:exported="false" />

        <uses-library android:name="android.test.runner" android:required="false" />
        <uses-library android:name="android.test.base" android:required="false" />
        <uses-library android:name="android.test.mock" android:required="false" />
    </application>
</manifest>
